---
apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: demo
  labels:
    app: webapp
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    protocol: TCP
    targetPort: http
  selector:
    app: webapp
